[Unit]
Description=Check and update dns entries with updatedns.sh

[Service]
Type=simple
ExecStart=/home/pi/updatedns/updatedns.sh
WorkingDirectory=/home/pi/updatedns

RestartSec=300
Restart=always

[Install]
WantedBy=default.target

